extends nav-user.pug
block nav
    link(rel="stylesheet", href="css/adminEdit.css")
    section.container
        .row
            .col.col-md-6.offset-md-3
                form(action=`edit/${id}?_method=PUT`,method="POST", enctype="application/x-www-form-urlencoded")
                    .form-group
                        label(for="nombre") Nombre
                        input.form-control(type="text", id="nombre",name="nombre",value=nombre)
                    .form-group   
                        label(for="apellido") Apellidos
                        input.form-control(type="text", id="apellido",name="apellido",value=apellido)
                    .form-group     
                        label(for="semestre") Semestre
                        input.form-control(type="number", name="semestre",id="semestre",value=semestre)
                    .form-group 
                        label(for="correo") Correo
                        input.form-control(type="text",id="correo" ,name="correo",value=correo)
                    .form-group 
                        label(for="nivel") Nivel
                        input.form-control(type="text", id="nivel",name="nivel",value=nivel)
                    .form-group
                        input.btn.btn-info(type="submit", value="Actualizar")
