doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Inglés
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  body
    nav.navbar.navbar
      img.num.img.tecnm(src='image/LOGO-TecNM.png', alt='img del Tec')
      img.img.tecnm.itc(src='itcuautla.png', alt='')
      ul.nav.justify-content-end
        li.nav-item
          a.nav-link.active(href='/admin') Inicio
        li.nav-item
          a.nav-link.active(href='carrera') Por carrera
        li.nav-item
          a.nav-link.active(href='semestre') Por semestre
        li.nav-item
          a.nav-link.active(href='curso') Curso    
    section.container
        .row
            .col.col-md-6.offset-md-3
                form(action=`edit/${id}?_method=PUT`,method="POST", enctype="application/x-www-form-urlencoded")
                    .form-group
                        label(for="nombre") Nombre
                        input.form-control(type="text", id="nombre",name="nombre",value=nombre)
                    .form-group   
                        label(for="apellido") Apellidos
                        input.form-control(type="text", id="apellido",name="apellido",value=apellido)
                    .form-group     
                        label(for="semestre") Semestre
                        input.form-control(type="number", name="semestre",id="semestre",value=semestre)
                    .form-group 
                        label(for="correo") Correo
                        input.form-control(type="text",id="correo" ,name="correo",value=correo)
                    .form-group 
                        label(for="nivel") Nivel
                        input.form-control(type="text", id="nivel",name="nivel",value=nivel)
                    .form-group
                        label(for="des") Agrega una descripcion del alumno
                        textarea.form-control#des(rows='4', cols='50', name="description")= description 
                    .form-group
                        input.btn.btn-info(type="submit", value="Actualizar")
